<div class="container">
<h1>What's news in your network?</h1>

<% @articles.each do |article| %>
  <div class="row article">
     <div class="date-header">
         <a href="<%= article['forbes_url'] %>"><span class="label"><%= article["published_date"] %></span></a> | <a href="<%= article['forbes_url'] %>"><span class="label"><%= article["published_time"] %></span></a> | <a href="<%= article['forbes_url'] %>"><span class="label"><%= article["author"] %></span></a>
      </div>
     <div class="span4">
       <div class="contacts">
         <div class="contacts-header">You have <%= article["company"]["contacts"].length %> contact(s) at <a href="<%= article["company"]["forbes_url"] %>"><%= begin article["company"]["name"].html_safe rescue "This Company" end %></a>
         </div>
       <% article["company"]["contacts"].each do |contact| %>
	  <a href="<%= contact['linkedin_url'] %>"><img src="<%= contact['image_url'] %>" hspace="10" vspace="10"></a>
       <% end %>
       </div>
     </div>
     <div class="span8">
       <h3><a href="<%= article['forbes_url'] %>"><%= article['title'].html_safe %></a></h3>
       <div class="article-stub">
         <a href="<%= article['forbes_url'] %>"> <%= begin strip_tags(article["stub"]).html_safe rescue "" end %> </a>
       </div>
     </div>
  </div>
<% end %>

<%= link_to "Logout", destroy_user_session_path, method: :delete %>

<ul class="pager">
  <li class="previous disabled"><a href="#">&larr; Older</a></li>
  <li class="next"><a href="#">Newer &rarr;</a></li>
</ul>

</div>
