<h1>Listing forbes_users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Linkedin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forbes_users.each do |forbes_user| %>
  <tr>
    <td><%= forbes_user.username %></td>
    <td><%= forbes_user.linkedin %></td>
    <td><%= link_to 'Show', forbes_user %></td>
    <td><%= link_to 'Edit', edit_forbes_user_path(forbes_user) %></td>
    <td><%= link_to 'Destroy', forbes_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Forbes user', new_forbes_user_path %>
